<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="enviar()">Registrar categoria</button>

    <!--mostrar respuesta del backend-->
    <p id="mensaje">      </p>

    <script>
        function enviar(){
            const categoria ={
                nombre:'categoria prueba'
            };

            fetch('/categorias', {
                method:'POST',
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify(categoria)
            })
            .then(res => res.json())
            .then(data => {
                document.getElementById('mensaje').textContent = data.mensaje;
            });
        }
    </script>
</body>
</html>