<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>}
                <th>precio</th>
                <th>stock</th>
                <th>categoria</th>
            </tr>
        </thead>
        <tbody id="tabla-productos"></tbody>
    </table>
    <script>
        fetch('http://127.0.0.1:5000/productos')
        .then(response => response.json())
        .then(data => {
            const tabla = document.getElementById('tabla-productos');
            tabla.innerHTML="";

            

        })
    </script>
</body>
</html>